<!DOCTYPE html>
{% load static %}
{% get_static_prefix as STATIC_URL %}

<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <script src="{% static "jquery-latest.js"%}" charset="utf-8"></script>
  <script type="text/javascript" src="{% static "jquery.lazy.min.js" %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <style media="screen">

  .gallery-item
  {
    opacity:1;
  }

  .gallery-item:hover
  {
    opacity:0.6;
    transition: opacity .5s ease-out;
    -moz-transition: opacity .5s ease-out;
    -webkit-transition: opacity .5s ease-out;
    -o-transition: opacity .5s ease-out;
  }

</style>
<title>Bifrost test page</title>
</head>
<body class="bg-dark">

  <nav class="navbar navbar-dark bg-dark">
    <div class="navbar-header">
      <a class="navbar-brand" id="demo" href="#">Bifrost</a>
    </div>
    <form class="form-inline" method="POST">
      {% csrf_token %}

      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>

    </form>

    <ul class="nav navbar-nav">
      <div>
        <input type="checkbox" name="sommaire" id="sommaire" checked>
        <label for="sommaire" class="navbar-text">Sommaire</label></div>
      </ul>
    </nav>

    {% if searching %}
    <div class="container-fluid bg-light text-center">
      Filtre : {{searching}}
    </div>
    &nbsp
    {% endif %}

    <div class="">
      <div class="row no-gutters">
        {% for volume in volumes %}
        <a href="https://www.belial.fr/revue/bifrost-{{volume.number}}" target=" _blank"
        class="col-lg-2 col-md-3 col-sm-6 gallery-item">

        <img data-src="media/{{ volume.cover }}" data-html="true" data-trigger="hover" data-container="body" data-toggle="popover" data-placement="left" data-content="{{volume.summary}}" onerror="this.src='/static/covers/unknown.jpg';" alt="{{ STATIC_URL }}covers/unknown.jpg" class="img-fluid lazy">
      </a>
      {% endfor %}

    </div>
  </div>
  <script>
  $(function () {
    $('[data-toggle="popover"]').popover()
  });

  jQuery(document).ready($('.lazy').Lazy({
    effect: "fadeIn",
    effectTime: 2000,
    threshold: 50 
  }));
  var CBSommaire = document.querySelector('input[name="sommaire"]');
  CBSommaire.onchange = function() {
    if(CBSommaire.checked) {
      console.log("coché");
      $('[data-toggle="popover"]').popover('enable')
    } else {
      console.log("décoché");
      $('[data-toggle="popover"]').popover('disable')
    }
  };
  </script>
</body>
<script src="{% static "script.js" %}" charset="utf-8"/>

</html>
